<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">{{title}}</h2>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__subtitle-text" style="width:15vh" *ngIf="isSingle">
        <material-angular-select [data]="locations"
                                 [keys]="locationKeys"
                                 [currentValue]="locationFilter"
                                 (selectedValue)="changeLocation($event)"></material-angular-select>
    </div>
  </base-card-title>
  <base-card-body>
    <div>
      <canvas #usageCanvas style="height:30vh"></canvas>
    </div>
  </base-card-body>
</base-card>

