<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">Index & Invoice</h2>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-card__subtitle-text" style="width:15vh">
        <material-angular-select [data]="locations"
                                 [name]="'location'"
                                 [keys]="locationKeys"
                                 [currentValue]="locationFilter"
                                 (selectedValue)="changeLocation($event)"></material-angular-select>
    </div>
  </base-card-title>
  <base-card-body>
    <form class="form form--basic">
      <div class="mdl-grid">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            <input class="mdl-textfield__input" type="text" [value]="toPay" id="current_invoice" style="text-align: right;">
            <label class="mdl-textfield__label" for="current_invoice">To pay</label>
            <label class="mdl-textfield__label" for="current_invoice" style="text-align: right;">{{ toPayDate }}</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            <input class="mdl-textfield__input" type="text" [value]="currentIndex" id="current_index" style="text-align: right;">
            <label class="mdl-textfield__label" for="current_index">Current index</label>
            <label class="mdl-textfield__label" for="current_index" style="text-align: right;">{{ currentIndexDate }}</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
            <input class="mdl-textfield__input" type="text" [value]="newIndex" id="new_index" style="text-align: right;">
            <label class="mdl-textfield__label" for="new_index">Set new index</label>
            <label class="mdl-textfield__label" for="new_index" style="text-align: right;">{{ newIndexDate }}</label>
          </div>
          <div style="height: 38px">&nbsp;</div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size" style="text-align: right;">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green" style="top: 0px; right: 0px">
              <i class="material-icons">save</i>SAVE</button>
          </div>
      </div>
    </form>
  </base-card-body>
</base-card>
