<ng-container *ngIf="invoice">
  <!-- <p class="breadcrumbs">
    <a [routerLink]="['/app/invoices']">Invoices</a> &gt; <a [routerLink]="['/app/invoice', invoices.id]">Invoice {{ invoice.id }}</a>
  </p> -->
  <base-card>
    <base-card-title>
      <h2 *ngIf="!isNew">Invoice {{ invoice.id }}</h2>
      <h2 *ngIf="isNew">New Invoice</h2>
    </base-card-title>
    <base-card-body>
      <form #form class="form">
        <div class="form__article">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="date" name="date" [value]="invoice.date  | date: 'yyyy-MM-dd'" [readonly]="!isNew"/>
              <label class="mdl-textfield__label" for="date">Date</label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
              <input class="mdl-textfield__input" type="text" id="status" name="status" [value]="invoice.status" [readonly]="!isNew"/>
              <label class="mdl-textfield__label" for="status">Status</label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="index" name="index" [value]="invoice.index" [readonly]="!isNew"/>
              <label class="mdl-textfield__label" for="index">Index</label>
            </div>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
              <input class="mdl-textfield__input" type="text" id="quantity" name="quantity" [value]="invoice.quantity" [readonly]="!isNew"/>
              <label class="mdl-textfield__label" for="quantity">Quantity (m<sup>3</sup>)</label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
              <input class="mdl-textfield__input" type="text" id="value" name="value" [value]="invoice.value" [readonly]="!isNew"/>
              <label class="mdl-textfield__label" for="value">Value (RON)</label>
            </div>
          </div>

        </div>

        <div class="form__action">
          <div >
            <button id="add_button" [routerLink]="['/app/invoices']" class="mdl-button mdl-js-button color--green" *ngIf="isNew">
              Add
            </button>
            <button id="cancel_button" [routerLink]="['/app/invoices']" class="mdl-button mdl-js-button">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </base-card-body>
  </base-card>
</ng-container>
